.initial-loader {
    width: 100vw;
    height: 100vh;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    .cssload-speeding-wheel {
        width: 60px;
        height: 60px;
        border-width: 5px;
        border-color: $color-11;
    }
}
.login-loader {
    .cssload-speeding-wheel {
        width: 20px;
        height: 20px;
        border-width: 2px;
        border-color: $color-7;
    }
}
.dahboard-loading{
    .cssload-speeding-wheel {
        width: 60px;
        height: 60px;
        border-width: 5px;
        border-color: $color-11;
    }
}
#new-order-loading{
    .cssload-speeding-wheel {
        border-color: $color-1;
    }
}

.cssload-speeding-wheel {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-width: 2px;
    border-style: solid;
    border-color: $color-7;
    border-radius: 50%;
    border-left-color: transparent!important;
    border-right-color: transparent!important;
    animation: cssload-spin 1025ms infinite linear;
    -o-animation: cssload-spin 1025ms infinite linear;
    -ms-animation: cssload-spin 1025ms infinite linear;
    -webkit-animation: cssload-spin 1025ms infinite linear;
    -moz-animation: cssload-spin 1025ms infinite linear;
}
@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
