// COLORS
// White
$color-1: #ffffff;
// Black
$color-2: #000000;
// Theme colors
$color-3: #1C4586;
$color-4: #E65F5F;
$color-5: #E3E3E3;
$color-6: #7C7C7C;
$color-7: #5FC391;

// FONTS
$font-1: "Sen", sans-serif;

// SHADOWS
$shadow-1: 0px 0px 20px rgba(0, 0, 0, 0.05);

// TRANSITIONS
$transition-1: all 0.2s;